*{
    margin: 0;
    padding: 0;
}

.preto{
    background-color: black;
    padding: 20px;
    display: flex;
    
}



.cabeçalho{
    margin: 0;
    padding: 24px 0;
    background-color:rgb(27, 85, 27); 
    display: flex;
    justify-content: center;

}

.lojadoribamar{
    width: 25%; 
 
padding-left: 50px;
}



.pesquisar{
    background-color: white;
   padding-right: 200px ;

    display: inline-block;
    color: gray;
    

}
.Esportes{
    color: white;
    display: inline-block;
    padding-left: 60vmax;
}


.fotoribeprodutos{
    padding-bottom: 30px;
    padding-inline: 30px;
}
.cabeçalho-imagem{
    width: 15%;
    padding-left: 20px;
    
}

.Produtos1{
    width: 14% ;
    padding-left: 40px;

}
.produtos2{
width: 14%;
padding-left: 200px;
}
.produtos3{
    width: 15%;
    padding-left: 300px;
}


    


.produtos4{

width: 15%;
padding-left: 320px;


}

.ardidas{
    width: 19%;
    
}
.pumba{
    width: 16%;
}
.patrocinadores{
    background-color: darkgreen; 
    padding: 40px;
    padding-left: 40px;
}
.sóvai{
    color: black;
    background-color: darkgreen;
}