*{
    margin: 0;
    padding: 0;
    background-color: white;
}

.cabeçalholista-item{
    padding-left: 250px;
    display: flex;
    justify-content:center;

}
.cabeçalho-imagem{
    width: 15%;
    padding-left: 20px;
    
}

.Produtos1{
    width:15% ;
    padding-left: 40px;

}
.produtos2{
width: 15%;
}


